[Unit]
Description=Description for sample script goes here
After=network.target
[Service]
Type=simple
WorkingDirectory=/opt/apache-zookeeper-3.5.6-bin
#EnvironmentFile=/opt/apache-zookeeper-3.5.6-bin/bin/zkEnv.sh
ExecStart=/bin/bash -c '/opt/apache-zookeeper-3.5.6-bin/bin/zkEnv.sh && /opt/apache-zookeeper-3.5.6-bin/bin/zkServer.sh start'
ExecStop=/bin/bash /usr/bin/zookeeper_stop.sh
PIDFile=/data01/zookeeper/zookeeper_server.pid
TimeoutStartSec=0
[Install]
WantedBy=default.target

